{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px;">
      <article class="card-body p-4">
		<header class="mb-4"><h4 class="card-title">Sign up</h4></header>
		<form method="POST">
			{% csrf_token %}
			 {{ form.non_field_errors }}
				<div class="row">
					<div class="col form-group mb-3">
						<label class="form-label">First name</label>
					  	<input type="text" class="form-control" value="{{ form.data.first_name }}" placeholder="" name="first_name" required>
					</div> <!-- form-group end.// -->
					<div class="col form-group mb-3">
						<label class="form-label">Last name</label>
					  	<input type="text" class="form-control" value="{{ form.data.last_name }}" placeholder="" name="last_name" required>
					</div> <!-- form-group end.// -->
				</div> <!-- row end.// -->
				<div class="form-group mb-3">
					<label class="form-label">Email</label>
					<input type="email" class="form-control" value="{{ form.data.email }}" name="email" required>
					<div class="form-text">We'll never share your email with anyone else.</div>
					{% if form.email.errors %}
						<div class="text-danger">{{ form.email.errors.0 }}</div>
					{% endif %}
				</div> <!-- form-group end.// -->
				<div class="row">
					<div class="form-group col-md-6 mb-3">
					  <label class="form-label">City</label>
					  <input type="text" class="form-control" value="{{ form.data.city }}" name="city" required>
					</div> <!-- form-group end.// -->
					<div class="form-group col-md-6 mb-3">
					  <label class="form-label">Phone Number</label>
					  <input type="text" class="form-control" value="{{ form.data.phone }}" name="phone" required>
					</div> <!-- form-group end.// -->
				</div> <!-- row.// -->
				<div class="row">
					<div class="form-group col-md-6 mb-3">
						<label class="form-label">Create password</label>
					    <input class="form-control" type="password" name="password1" required>
						{% if form.password1.errors %}
							<div class="text-danger">{{ form.password1.errors.0 }}</div>
						{% endif %}
					</div> <!-- form-group end.// --> 
					<div class="form-group col-md-6 mb-3">
						<label class="form-label">Repeat password</label>
					    <input class="form-control" type="password" name="password2" required>
						{% if form.password2.errors %}
							<div class="text-danger">{{ form.password2.errors.0 }}</div>
						{% endif %}
					</div> <!-- form-group end.// -->  
				</div>
			    <div class="form-group mb-3">
			        <button type="submit" class="btn btn-secondary w-100 border border-0"> Register  </button>
			    </div> <!-- form-group// -->               
			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4 ">Have an account? <a href="{% url 'user_login' %}">Log In</a></p>
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}