.bg-secondary,.btn-secondary{
    background-color: #ff6a00 !important;
}
.bg-footer{
    background-color: #12225B;
}
.text-secondary{
    color: #ff6a00 !important;
}
.hover-secondary:hover {
    color: #ff6a00 !important; 
    transition: 0.3s;
}

.btn-blue{
    background-color: #12225b !important;
    color: white;
    font-weight: 700;
}
.btn-blue:hover{
    color: white !important;
    background-color: #0a1230 !important;
}
.img-sm {
max-width: 100px;
max-height: 100px;
object-fit: cover;
transition: transform 0.3s ease;
}

.zoom-on-hover:hover {
transform: scale(1.2);
z-index: 1;
}

.image-container {
width: 100px;
height: 100px;
overflow: hidden;
}

.tag{
    display: inline-block;
    padding: 3px 7px;
    background: #f2f2f2;
    border: 1px solid #eee;
    border-radius: 3px;
    margin-top: 4px;
    margin-right: 2px;
    font-size: 85%;
}

.quantity-selector {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 110px;
    height: 40px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.quantity-selector a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    text-decoration: none;
    font-weight: bold;
    background-color: #f8f8f8; 
    cursor: pointer;
    color: black;
}


.quantity-selector a:hover {
    background-color: #e0e0e0;
}

.quantity-selector .quantity {
    width: 40px;
    text-align: center;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    pointer-events: none; 
}
