{% extends "base.html" %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<!-- Horizontal Filter Bar with Action Buttons -->
<div class="container-fluid bg-white py-3 mb-4 border-bottom">


<!-- Results Header -->
<div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-4">
    <div class="mb-3 mb-md-0">
      
    <h5 class="mb-0"> <span class="text-danger display-3">{{ sale.discount_percentage }}% </span>{{sale.name}}</h5>
      
    </div>
    <div class="mb-3 mb-md-0">
      
    <h5 class="mb-0">Offer End : <span class="text-danger display-7">{{sale.end_time|date:"l, d M Y H:i"}}</span></h5>
      
    </div>

</div>


<div class="row">
    {% for product in sale.products.all  %}

<div class="col-md-3 mt-2">
    <figure class="card card-product-grid h-100 d-flex flex-column">
        <div class="img-wrap"> 
            <img src="{{ product.images.first.image.url }}" class="img-fluid">
        </div> <!-- img-wrap.// -->

        <figcaption class="info-wrap flex-grow-1 d-flex flex-column">
            <a href="{% url "product_details" product.slug %}" class="title mb-2 d-block text-decoration-none fw-medium" style="min-height: 3.5rem; overflow: hidden;">
                {{ product.name|truncatewords:8 }}
            </a>

            <div class="price-wrap fw-bold">
              {% if product.discounted_price < product.price %}
                  <div>
                      Price:
                      <del>{{ product.price }}tk</del>
                      <span class="text-danger">{{ product.discounted_price }}tk</span>
                  </div>

                  {% if product.active_flash_sale %}
                      <p class="mb-1 text-danger fw-bold">{{ product.active_flash_sale.discount_percentage }}% Flash Sale</p>
                  {% elif product.discount_percentage > 0 %}
                      <p class="mb-1 text-info fw-bold">{{ product.discount_percentage }}% Discount</p>
                  {% endif %}

              {% else %}
                  <span>Price: {{ product.price }}tk</span>
              {% endif %}
            </div>
         

            <div class="mt-auto">
                <a href="{% url "product_details" product.slug %}" class="btn btn-sm btn-secondary w-100 border-0">Buy Now</a>
            </div>
        </figcaption>
    </figure>
</div> <!-- col.// -->


    {% endfor %}
</div> <!-- row end.// -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="padding-y-lg bg-light border-top">
<div class="container">
	<p class="pb-2 text-center">Delivering the latest product trends and industry news straight to your inbox</p>

	<div class="row justify-content-md-center">
		<div class="col-lg-4 col-sm-6">
			<form class="row g-2">
				<div class="col-8">
					<input class="form-control" placeholder="Your Email" type="email">
				</div> <!-- col.// -->
				<div class="col-4">
					<button type="submit" class="btn btn-block btn-warning"><i class="fa fa-envelope"></i> Subscribe</button>
				</div> <!-- col.// -->
			</form>
			<small class="form-text">We'll never share your email address with a third-party.</small>
		</div> <!-- col-md-6.// -->
	</div>
</div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->

{% endblock content %}